<h2>User info</h2>
<%= image_tag user.get_image %>
<table>
  <tbody>
    <tr>
      <th>name</th>
      <th><%= user.name %></th>
    </tr>
    <tr>
      <th>introduction</th>
      <th><%= user.introduction %></th>
    </tr>
  </tbody>
</table>

<h2>New Book</h2>

<%= form_with model:book, url: books_path, method: :post, local:true do |f| %>
  <p>Title</p>
  <%= f.text_field :title %>
  <p>Opinion</p>
  <%= f.text_area :opinion %><br>
  <%= f.submit "Create Book" %>
<% end %>
