<%= render partial: 'list', locals: { user: @user, book: @book } %>

<h1>Book detail</h1>
<table>
  <tbody>
    <tr>
      <td>
        <%= link_to user_path(@book.user_id) do %>
          <%= image_tag @book.user.get_image("40x40") %><br>
          <%= @book.user.name %>
        <% end %>
      </td>
      <td><%= link_to @book.title, book_path %></td>
      <td><%= @book.opinion %></td>
      <% if @book.user == current_user %>
      <td><%= link_to "Edit", edit_book_path %></td>
      <td><%= link_to "Destroy", book_path, method: :delete, "data-confirm" => "本当に消しますか？" %></td>
      <% end %>
    </tr>
  </tbody>
</table>